<div class="mainContainer">
    <div class="row header"> 
        <div class="col-lg-6 col-md-12 leftHeader">
            <div class="row">
                <img class="col-lg-2 col-md-2 col-sm-2 logo" src="../../assets/TLPSvgLogo.svg" />
                <div class="col-10 col-md-10 col-sm-10 companyName">
                    THE LOUNGE PRODUCTIONS
    
                </div>
            </div>
            
            
            
            

        </div>
        <div class="col-lg-6 col-md-12 rightHeader">
            <span> About </span>
            <span>Contact</span>
            <span>Services</span>

            

        </div>
        
    </div>
    <div class="mainContent">
        <div class="branding">
            <!-- <img src="../../assets/logo.jpg"> -->

        </div>
        <div class="services">
            <div class="service">
                Engagement

            </div>
            <div class="service">
                Wedding
                
            </div>
            <div class="service">
                Corporate
                
            </div>
            <div class="service">
                Birthdays
                
            </div>
    
        </div>

    </div>
    
    <div class="footer">
        &copy; THE LOUNGE PRODUCTIONS &nbsp; | &nbsp;  All Rights Reserved

    </div>
</div>