<div class="mainContainer">
    <div class="header"> 
        <div class="leftHeader">
            <div >
                <img class="logo" src="../../assets/TLPSvgLogo.svg" />
            </div>
            <div class="companyName">
                THE LOUNGE PRODUCTIONS

            </div>
            
            
            

        </div>
        <div class="rightHeader">
            <span> About </span>
            <span>Contact</span>
            <span>Services</span>

            

        </div>
        
    </div>
    <div class="mainContent">
        <div class="branding">
            <!-- <img src="../../assets/logo.jpg"> -->

        </div>
        <div class="services">
            <div class="serviceContainer">
                <div class="serviceTitle">
                    Engagement

                </div>
                <div class="serviceImage1">   
                   <div class="viewMore"> View More Info </div>

                </div>               

            </div>
            <div class="serviceContainer">
                <div class="serviceTitle">
                    Wedding

                </div>
                <div class="serviceImage2">                   

                </div>               

            </div>
            <div class="serviceContainer">
                <div class="serviceTitle">
                    Birthday

                </div>
                <div class="serviceImage3">                   

                </div>               

            </div>
            <div class="serviceContainer">
                <div class="serviceTitle">
                    Corporate

                </div>
                <div class="serviceImage4">                   

                </div>               

            </div>
    
        </div>

    </div>
    
    <div class="footer">
        &copy; THE LOUNGE PRODUCTIONS &nbsp; | &nbsp;  All Rights Reserved

    </div>
</div>